@import url(nav.css);
@import url(productImage.css);
@import url(productInfo.css);

:root {
    /* Primary */
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);

    /* Neutral */
    --DarkestBlue: hsl(220, 13%, 13%);
    --darkGrayBlue: hsl(219, 9%, 45%);
    --grayBlue: hsl(220, 14%, 75%);
    --lightGrayBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --font: 'Kumbh Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

.images {
    width: 100%;
}