section.images {
    position: relative;
}

.circle-button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 0.5em;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 40%;
}

.previousIcon {
    background-image: url(../images/icon-previous.svg);
    width: 11px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
  
    /* filter: var(--filter); */
}

.nextIcon {
    background-image: url(../images/icon-next.svg);
    width: 11px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
}

.prev-btn {
    left: 1em;
    
}

.next-btn {
    right: 1em;
}

/* .my-slides img{
    position: relative;
    
    background-size: cover;
} */

